@charset "UTF-8";

	.tab-1 {		
		margin:auto;
		width: 80vw;
		height: auto;
		border: 1px solid white;
	}
	.tab-1 tr td{
		border: 1px solid white;
	}
	.tab-2 {		
		margin:auto;
		width: 80vw;
		height: auto;
		border: 1px solid white;
		
	}
	.tab-2 tr td{
		border: 1px solid white;
	}
	.pay1 {
		font-size: 2em;
		
	}
	#quantity{
	width : 40px;
	}
	.cartBtn{
	padding: 5px;
	}
	#pay-div1{
	border: 1px solid white;
	width: 80vw;
	margin: auto;
	color : green;	
	}
	.pay-tab {
	width:70vw;
	border : 1px solid rgb(239,222,255);
	}
	.pay-tab tr td{
	padding : 5px;
	
	}
