@charset "UTF-8";@charset "UTF-8";

#Index{
   width: 100%;
   height: 100%;
   
   /* overflow: hidden; */
}
li {
   display: inline-block;
   text-align: center;
}
li div, img, select, button{
   cursor: pointer;
}
a {
   text-decoration: none;
}
.sct_btn {
   margin: 1vw;
   border: none;
   outline: none;
}
/* hover 안먹힘 */
.sct_btn:hover {
   text-decoration: line-through !important;
   color: rgb(100, 100, 100) !important;
}
input[type="text"], .itemAmount_Btn, #itemAmount_dlt, .sct_btn, select{
   background-color: rgb(40, 44, 52); 
}
#content{
   width: 57.51vw;
   min-height: 60vw;
   margin: 9vh 0vh 15vw 20vw;
   
   background-color: red;
}
#ct_col_lft, #ct_col_rgt, #itemAmount_Btns, #itemAmount_name {
   float: left;
}
#itemAmount_dlt, #itemPrice {
   float: right;
}
#ct_col_lft {
   width: 25vw;
   height: 60vh;
   margin-right: 2.5vw;
}
#ct_col_rgt {
   width: 30vw;
   /* margin-left: 2.5vw; */
   /* background-color: blue; */
}
#ct_col_lft #bigImg {
   width: 100%;
   height: 80%;
   padding-bottom: 1vh;
}
#ct_col_lft #bigImg img{
   width: 100%;
   height: 100%;
}
#ct_col_lft #smallImg {
   display: inline;
   height: 20%;
}
#ct_col_lft #smallImg ul li{
   margin-right: 1%;
}
#ct_col_lft #smallImg ul li img {
   border: 1px solid white;
   width: 5vw;
   height: 8vh;
   margin: 10%;
}
#ct_col_rgt table {
   border-collapse: collapse;
   width: 100%;
   height: 40vh;
   /* border: 13px dashed olive; */
}
#ct_col_rgt td {
   border-bottom: 0.5px solid gray !important;
   padding-top: 2.5%;
   padding-bottom: 2.5%;
}
#ct_col_rgt #title {
   font-size: 2em;
   text-align: left;
   padding-top: 0% !important;
   border-bottom: none !important;
}
#ct_col_rgt #price {
   font-size: 2.5em;
   text-align: left;
   padding: 0% 0% 3% 0%;
}
select{
   width: 68%;
   height: 4vh;
}
option[value=""][disabled]{
   
   display: none;
}
td:nth-child(2n){
   text-align: right;
   padding-right: 1%;
}
td:nth-child(2n+1) {
   text-align: left;
}
td span{
   border: 1px solid white;
   padding: 0.5% 1.5%;
}
td img{
   width: 1vw;
   height: 2vh;
}
#totPrice{
   font-size: 2em;
   padding: 5% 0%;
}
#itemAmount{
   display: none;
}
#itemAmount_div{
   width: 95%;
   height: 100%;
   padding-left: 0.5vw;
}
#itemAmount span{
   border: none;
}
#itemAmount_name{
   text-align: left;
   width: 45%;
}
#itemAmount_dlt{
   text-align: right;
   padding-top: 0.5vh;
   width: 45%;
   border: none !important;
}
#itemAmount_Btns{
   width: 45%;
   text-align: left;
}
.itemAmount_Btn{
   width: 13%;
   height: 3vh;
   border: 0.5px solid white;
}
input[type="text"]{
   margin-left: -6px;
   margin-right: -6px;
   height: 3vh;
   width: 13%;
   border: 0.5px solid white;
}
#itemPrice{
   text-align: right;
   padding-top: 0.5vh;
   width: 45%;
   padding-right: 0;
}
.ct_btn {
   width: 100%;
   height: 10vh;
}
.ct_btn #ct_btn_ul a span{
   font-size: 1.3em;
}
#ct_btn_cart, #ct_btn_buy {
   background-color: rgb(25,75,75) !important;
   width: 11vw;
   height: 7vh;
   margin: 2vh 1vw 0vh 1vw;
   padding-top: 9%;
} 
#content_bottom {
   display: inline-block;
   /* background-color: #EACEAE; */
   /* height: 100px; */	
   width: 100%;
}
#cb_cate li{
   margin-left: 5px;
}
#cb_cate li::before{
   padding-right: 5px;
   content:"|";
}
#cb_cate li:first-child::before {
   content:" ";
}
#cb_detail{
   width: 100%;
   height: 100%;
   display: inline-block;
}
#cb_review{
	background-color: #f9d5d3;
	width: 100%;
	height: 500px;
}
#cb_qna{
	background-color: #eca4a6;
	width: 100%;
	height: 500px;
}
#cb_info{
	background-color: #807f89;
	width: 100%;
	height: 500px;
} 
