@charset "UTF-8";

#Index {
	width: 100%;
	text-align: left;
}

.pointer {
	cursor: pointer;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

#shopCategory, #content {
	margin: 0 auto;
}

#Index #shopCategory ul {
	justify-content: center;
}

#Index #shopCategory li {
	display: inline-flex;
}

#Index #shopCategory li div {
	cursor: pointer;
}

.sct_btn {
	margin: 1vw;
	border: none;
	outline: none;
}

#shopCategory span {
	font-weight: 600;
}

#shopCategory span:hover {
	color: rgb(100, 100, 100);
	text-decoration: line-through;
}

#Index a:hover, #index a {
	color: rgb(100, 100, 100);
	text-decoration: none;
}

#best_item {
	width: 100vw;
	height: 25vh;
	margin-top: 5vh;
	background-color: rgb(76, 73, 162);
}

#content {
	margin-top: 6vh;
	width: 60vw;
}

#items {
	width: 100%;
	margin-top: 15%;
}

#items ul {
	justify-content: space-between;
	flex-wrap: wrap;
}

#items li {
	display: inline-flex;
	width: 30%;
	/* margin: auto; */
}

.item_border {
	justify-content: center;
}

.item {
	flex-basis: 80%;
}

.item_top {
	display: inline-block; position : relative;
	height: auto;
	position: relative;
}
.icons:hover{
	opacity: 1;
} 

.icons {
	opacity: 0;
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5vh;
	background-color: yellow;
}

.item_bottom {
	width: 100%;
	display: block;
	text-align: left;
	margin: 1vh 0vw 5vh 0vw;
}

.item_bottom span:first-child {
	font-size: 1.2em;
	font-weight: 700;
}