@charset "UTF-8";

#Index {
	width: 100%;
	display: flex;
	text-align: left;
	flex-direction: column;
}

#shopCategory, #content {
	display: flex;
	margin: 0 auto;
}

#Index #shopCategory ul {
	display: flex;
	justify-content: center;
}

#Index #shopCategory li {
	display: inline-flex;
}

#Index #shopCategory li div {
	cursor: pointer;
}
.sct_btn {
	margin: 1vw;
	border: none;
	outline: none;
}
#shopCategory span {
	font-weight: 600;
}
#shopCategory span:hover{
   color: rgb(100, 100, 100);
   text-decoration: line-through;
}
#Index a:hover, #index a {
   color: rgb(100, 100, 100);
   text-decoration: none;
}