@charset "UTF-8";
*{
	background: rgb(40, 44, 52);
	color: white;
	text-align: center;
	padding: 0px;
	margin : 0px;
}
.emptyHeader{
	height: 10vh;
}
.menu {
	display:inline-block;
	text-align: center;
	padding: 10vh;
	width : 20vw;
	height: 5vh;
	border: 1px solid white;
}


.memList th:hover{cursor: pointer;}
.memList tr {height: 5vh;}
.memList tr td{
	width : 12vw;
	border-top: 1px solid white;
	font-size: 12px;
}

.search input, button{height: 5vh;}
.search input{width : 30vw;}
.search button{width : 10vw;}