@charset "UTF-8";

body {
	padding: 0px;
	margin: 0px;
	background: rgb(40, 44, 52);
}

hr {
	border: 1px solid white;
}

/* 바디내 가장 바깥쪽 div 태그 */
.content {
	color: white;
	text-align: center;
}

/* 상단 여백 */
.emptyHeader {
	height: 10vh;
}

/* 메뉴 div */
.menu {
	display: inline-block;
	text-align: center;
	padding: 10vh;
	width: 20vw;
	height: 5vh;
	border: 1px solid white;
}

/* 검색 */
.search input, button {
	height: 5vh;
}

.search input {
	width: 30vw;
}

.search button {
	width: 10vw;
}

/* adminMemberView */
.memberList tr :hover {
	cursor: pointer;
	color: gray;
}

.memberList tr th,td {
	width: 12vw;
	font-size: 14px;
	padding: 0px;
	color: white;
}

/* memberDetailView */
#memberDetail tr th {
	color: white;
}

#memberDetail tr td {
	color: black;
}

#memberDetail tr th,td {
	text-align: center;
	width: 25vw;
	height: 5vh;
}
.grade {
	width: 173px;
}

.phone {
	width: 45px;
}

.dash {
	color: white;
}
.disabled{
	background: rgb(40, 44, 52);
	color: white;
}